---
import { SITE } from 'astrowind:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl whitespace-nowrap"
  style="font-family: 'Inter', sans-serif;"
>
  <span class="font-medium text-gray-900 dark:text-white">Extra</span><span class="font-bold text-accent">Brain</span>
</span>
